content > div {
    display: none;
}
content > div.active {
    display: block;
}

#gameCanvas {
    background-color: white;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

#game_page h2 {
    text-align: center;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;

    background-image: url('images/pexels-esan-2085998.jpg'); /* path to your image */
    background-size: cover;         /* Stretch to cover screen */
    background-repeat: no-repeat;   /* Prevent tiling */
    background-attachment: fixed;   /* Keep fixed while scrolling */
    background-position: center;    /* Center the image */
}
